#section6 img{
    max-width: 100%;
}
#sec6ex1box3{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
}
#sec6ex1box3 img{
    flex-grow: 1;
}
#sec6ex1box3 > div{
    width: 48%;
    display: flex;
    flex-direction: column;
}
#sec6ex1box3 span{
    overflow-wrap: break-word;
}
#section6 .colContent > div{
    display: flex;
}
#section6 .colContent > div > div:nth-of-type(1){
    margin-right: 25px;
    overflow-x: auto;
}
#section6 .colContent > div > div:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
#section6 .colContent > div > div:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
#section6 .colContent > div > div:nth-of-type(2) img{
    max-width: 220px;
}

#colapse2 .form{
    overflow-x: auto;
}

@media (max-width:992px) {
    
}
@media (max-width:768px) {
    #sec6ex1box3 {
        flex-direction: column;
    }
    #sec6ex1box3 > div {
        width: 100%;
        margin-bottom: 25px;
    }
    #section6 .colContent > div {
        flex-direction: column-reverse;
    }
    #section6 .colContent > div > div:nth-of-type(2) {
        margin-bottom: 25px;
    }
}

@media (max-width:576px) {
    #sec6ex1box3 > div {
        overflow-x: scroll;
    }
}