#section3{
    margin-top: 50px;
}
#section3 img{
    max-width: 100%;
}
#section3 .titulo{
    text-align: center;
}
#sec3box1{
    display: flex;
    margin-top: 25px;
}
#sec3box1 > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#sec3box1 p{
    display: inline-block;
    margin-bottom: 0px;
}
#sec3box1 > *{
    width: 50%;
}
#section3 .flower{
    width: 50%;
    text-align: center;
    font-weight: bold;
}
#section3 .retang p{
    line-height: 20px;
}
#section3 .retang{
    margin-right: 40px;
}
#section3 .retang > div{
    width: 60%;
}
#section3 .boxRetang > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
    margin-right: var(--direita);
    align-items: flex-end;
}
#section3 .boxRetang > div:nth-of-type(2) > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
#section3 .boxRetang > div:nth-of-type(2) p{
    display: flex;
    margin-bottom: 0px;
}
#section3 .boxRetang img{
    max-width: 400px;
}

@media (max-width:1200px) {
    #section3 .flower {
        width: 70%;
    }
}

@media (max-width:992px) {
    #section3 .retang > div {
        width: 80%;
    }
    #section3 .boxRetang img {
        max-width: 310px;
    }
}

@media (max-width:768px) {
    #sec3box1 {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    #sec3box1 > * {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #sec3box1 img{
        width: 60%;
    }
    #section3 .boxRetang {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section3 .retang {
        width: 100%;
        margin-bottom: 50px;
        margin-right: 0px;
        height: 480px;
    }
    #section3 .boxRetang > div:nth-of-type(2) {
        align-items: center;
        width: 540px;
        margin: 0 auto;
        margin-right: var(--direita);
    }
    #section3 .boxRetang > div:nth-of-type(2) > div {
        width: 100%;
        margin-top: 25px;
    }
    #section3 .boxRetang > div:nth-of-type(2) > p{
        margin-bottom: 20px;
    }
    #section3 .boxRetang img {
        max-width: 100%;
    }
}

@media (max-width:576px) {
    #sec3box1 img {
        width: 80%;
    }
    #section3 .boxRetang{
        width: 100%;
    }
    #section3 .retang{
        width: 100%;
    }
    #section3 .retang::before {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    #section3 .boxRetang > div:nth-of-type(2) {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    #section3 .boxRetang img {
        max-width: 100%;
    }
    #section3 .flower {
        width: 80%;
    }
}

@media (max-width:420px) {
    #sec3box1 > * {
        width: 100%;
    }
    #sec3box1 img {
        width: 100%;
    }
    #section3 .flower {
        width: 100%;
    }
    #section3 .retang {
        height: 570px;
    }
    #section3 .boxRetang > div:nth-of-type(2) > div {
        overflow-x: scroll;
    }        
}