#section5{
    margin-top: 100px;
}
#section5 img{
    max-width: 100%;
}
#section5 h3{
    text-align: center;
}
.form{
    display: flex;
    margin-bottom: 0px;
    overflow-x: scroll;
}
.sec5ex1box1, .sec5ex1box2{
    display: flex;
    align-items: center;
}
.sec5ex1box1 > div:nth-of-type(1),
.sec5ex1box2 > div:nth-of-type(1){
    margin-right: 50px;
    overflow-x: scroll;
}

#sec5box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sec5tab1 th, #sec5tab1 td{
    padding: 10px 10px;
    border-bottom:1px solid black;
    border-right: 1px solid black;
}

#sec5tab1 tr > td:nth-of-type(1), #sec5tab1 tr > th:nth-of-type(1){
    border-left: 1px solid black;
}

#sec5tab1 th{
    border-top: 1px solid black;
}

@media (max-width:992px) {
    #sec5box1 {
        margin-top: 50px;
        flex-direction: column;
    }
    #sec5box1 img{
        margin-bottom: 50px;
    }
}

@media (max-width:768px) {
    .sec5ex1box1, .sec5ex1box2 {
        flex-direction: column-reverse;
        overflow-x: scroll;
    }
}

@media (max-width:576px) {
    #sec5box1 > div:nth-of-type(2){
        width: 100%;
        overflow-x: scroll;
    }
}
